:root {
  --blue-color: #0080FF;
  --black-color: #1a1a1a;
  --off-white: #fbf8f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
}

a {
  text-decoration: none;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 100px;
  height: 150px;
}

nav .left {
  font-size: 24px;
  color: var(--blue-color);
  text-align: left;
}

nav .left span {
  font-size: 16px;
  color: var(--black-color);
  font-family: 'Montserrat';
}

nav .right {
  display: flex;
  justify-content: space-between;
}

nav .right div {
  margin: 0 1em;
  font-weight: 400;
  font-size: 16px;
}

nav .right a {
  color: var(--black-color);
}

nav .right .visit a {
  color: var(--off-white);
  background-color: var(--blue-color);
  font-weight: 700;
  padding: 12px 8px;
  border-radius: 5px;
}

/* Section 1: Hero */

.hero-section {
  position: relative;
  text-align: left;
}

.hero-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 500px;
  object-fit: cover;
  object-position: center -100px;
  border-radius: 15px;
}

.hero-section::before {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  z-index: 1;
}

.hero-section .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.hero-section .text h1 {
  font-size: 36px;
  font-weight: 700;
}

.hero-section .text p {
  font-size: 18px;
  font-weight: 300;
}
